.container {
  margin: 20px;
  font-size: 1.1em;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

li {
  margin: 10px 0;
}

.controls {
  width: 100%;
  text-align: center;
}

.evaluationPart input[type='number'] {
  font-weight: bold;
  font-size: 1.3em;
}
.evaluationPart textarea {
  font-size: 1.3em;
}

#partFinGradeOuter {
  padding: 2px;
}

#partFinGrade {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}

.footer {
  padding-top: 2em;
  text-align: center;
}

@media print {
  .container {
    margin: 0mm;
    font-size: 1em;
  }
  /* See https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/ */
  @page {
    size: A4;
    margin: 2cm;
  }

  body {
    font: 12pt -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
    background: #fff !important;
    color: #000;
  }
  h1 {
    font-size: 18pt;
  }
  h2, h3, h4 {
    font-size: 14pt;
    margin-top: 25px;
  }

  .intervenants_container input,
  .EvaluationComment textarea {
    font-weight: bold;
  }
  .EvaluationComment textarea,
  .grid_justification input {
    font-size: 12pt;
  }
  .evaluationPart textarea {
    font-size: 1em;
  }

  input,
  textarea {
    border: 0;
    padding: 0;
    margin-left: 10px;
    overflow: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type='text'] {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #999999;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  #partFinGrade {
    font-size: 3em;
  }

  .no-print, .no-print * {
    display: none !important;
    visibility: hidden;
  }

  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}
